/* style.css */
.green {
    background-color: palegreen;
}

.pink {
    background-color: pink;
}

table, td, th {
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}
